/* .backgroundProjeto{
    background-color: #E1E1E1;
}

.colorPrimary{
    background-color: #C4C4C4;
}

.colorSeccondy{
    background-color: #727272;
}

.colorBlack{
    background-color: black;
} */


/* Remove default bullets */